/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap');
:roots {

    --primary:#ffcc00
}
html {
    font-size: 62.5%;/*1rem=10px*/
}
* {
    margin: 0;
    padding: 0;

}
body {
    background-color: black;
    font-family: "Roboto", sans-serif;

}
img {
    max-width: 100%;
    
}
a {
    text-decoration: none;
}

/*utilities*/
.read-btn {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

/*menu*/
nav.menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 30px 5px 20px;
    height: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    
}
a.login {
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    
}
a.subs-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 16px;
    letter-spacing: 3px;
    
}
a.arrows-link {
    color: white;
}
a.search-link,
a.renew-link,
a.menu-link {
    display: none;
}

nav.menu img.big-logo {
    display: none;
    height: 50px;
}
nav.menu img.small-logo {
    display: block;
    height: 30px;
}
nav.menu a {
    margin-right: 10px;
}

/*header*/
.hc {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.pc {
    font-size: 18px;
    text-align: center;
    text-decoration: inherit;
    font-weight: 5;
    padding-bottom: 50px;
    
}
.yu-hover {
    cursor: cell;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 2px;
}
.yu-hover::after {
    
}
header {
    color: white;

}
header p span {
    border-bottom-left-radius: 60% ;
}
/*main-news*/
.main-news  {
    position:relative;/*parent*/
    width: 95%;
    margin: 1rem  auto;
}
.main-news-text {
    position:absolute; /*child*/
    color: white;
    top: 100px;
    left: 30px;
    color: white;

}
.main-news-text p {
    font-size: 3.5rem;
}
.main-news-text h3 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 1rem 0;

}

.main-news-text h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
.sec-news-text {
    
}
.flex-container-1 {
    color: white;
    font-size: large;
}